* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: bisque;
}

.text-center{
  text-align: center;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.container {
  max-width: 800px;
  margin: 50px auto;
}

.box {
  width: 80px;
  height: 80px;
  background-color: beige;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.box.fizz {
  background-color: chocolate;
}

.box.buzz {
  background-color: aquamarine;
}

.box.fizzbuzz {
  background-color: chartreuse;
}

.hide {
  display: none;
}
